@charset "UTF-8";

#regForm{
	margin-left: 235px;
	
}
.container{
	
	display:flex;
	justify-content: center;
	align-items:  center;

}
.form-control {
	width: 648px;
}
.all-group{
	margin-top: 100px;
	width:400px;
}
.form-group{
	width: 500px;
}

.htwo{
	position: relative;
	right:450px;
}
#idChk{
	position: relative;
    left: 200px;
    top: 10px;
    background-color: #ffffff;
    color: black;
    border: solid 1px;
    width: 100px;
    border-color: #c5c5c5;
} 

.form-group{
	margin-top:10px;
}
/* .form-group1{
	width:300px;
	height: 70px;
} 
.form-group2{
	width: 0;
	height: 0;
} */