@charset "UTF-8";

.main-left .main-right {
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
}

.main-left {
	width: 23%;
	float: left;
}

.main-right {
	width: 23%;
	float: right;
}

.main-center {
	display: inline-block;
	margin: 22px;
	width: 50%;
}

.m-title {
	display: inline-flex;
	font-size: 23px;
	font-weight: bold;
	color: #151d66;
	padding: 10px 23px 5px 23px;
	width: calc(100% - 46px);
}

.Box {
	border: 2px solid #ececf1;
	border-radius: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.myProfile {
	width: 100%;
	height: 530px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.myProfile img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 130px;
	height: 130px;
	border-radius: 100%;
	image-rendering: -webkit-optimize-contrast;
	margin-bottom: 10px;
	cursor: pointer;
	object-fit: cover;
}

.myProfile div {
	font-size: 16px;
	text-align: center;
}

.hr {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}

.chat {
	width: 100%;
	height: 60px;
	border-radius: 4px;
	background: #78c0f7;
	text-align: center;
	color: white;
}

#chat-a {
	text-align: center;
	text-decoration: none; /* 링크의 밑줄 제거 */
	color: inherit; /* 링크의 색상 제거 */
}

.project {
	width: 100%;
	height: 330px;
	margin-bottom: 20px;
}

.elecAuth {
	width: 100%;
	height: 250px;
}

.suggest {
	width: 100%;
	height: 290px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.free {
	width: 100%;
	height: 300px;
	background-color: #151d66;
	color: #fff
}

.fas fa-cloud-sun fa-5x {
	height: 50px;
}

.cardrow {
	display: inline;
	float: right;
}

.bs-callout {
	margin: 10px 0;
	padding: 15px 30px 15px 15px;
}

.bs-callout h4 {
	margin-top: 0;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code, .bs-callout .highlight {
	background-color: #fff;
}
/* Themes for different contexts */
.bs-callout-danger {
	background-color: #FFFFFF;
	border: 1px solid #f5f5f5;
	border-left: 5px solid #226666;
}

.bs-callout-warning {
	background-color: #FFFFFF;
	border: 1px solid #f5f5f5;
	border-left: 5px solid #f0ad4e;
}

.bs-callout-info {
	background-color: #FFFFFF;
	border: 1px solid #f5f5f5;
	border-left: 5px solid #04004D;
}

.card-title {
	font-weight: bold;
	font-size: 32px;
	margin-top: 5px;

}

.card-title a{
	text-decoration: none; /* 링크의 밑줄 제거 */
	color: inherit; /* 링크의 색상 제거 */
}
	

.move{
	text-decoration: none; /* 링크의 밑줄 제거 */
	color: inherit; /* 링크의 색상 제거 */
	
}
