@charset "UTF-8";

.main-left .main-right {
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
}

.main-left {
	width: 23%;
	float: left;
}

.main-right {
	width: 23%;
	float: right;
}

.main-center {
	display: inline-block;
	margin: 22px;
	width: 50%;
	
}

.m-title {
	display: inline-flex;
	font-size: 23px;
	font-weight: bold;
	color: #151d66;
	padding: 23px 23px 13px 23px;
	width: calc(100% - 46px);
}

.Box {
	border: 2px solid #ececf1;
	border-radius: 10px;
	
}

.myProfile {
	width: 100%;
	height: 530px;
	margin-bottom: 10px;
	margin-top:20px;
}

.myProfile img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 130px;
	height: 130px;
	border-radius: 100%;
	image-rendering: -webkit-optimize-contrast;
	margin-bottom: 10px;
	cursor: pointer;
	object-fit: cover;
}

.myProfile div {
	font-size: 16px;
	text-align: center;
}



.hr {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}


.chat {
	width: 100%;
	height: 70px;
    border-radius: 4px;
    background: #78c0f7;
	text-align: center;
	color: white;
}

#chat-a {
  text-align: center;
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
}

.project {
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
	
}

.elecAuth {
	width: 100%;
	height: 270px;

}

.suggest{
	width: 100%;
	height: 290px;
	margin-bottom: 10px;
	margin-top:20px;
}
	
	

.free {
	width: 100%;
	height: 300px;
	background-color : #151d66;
	color : #fff

}

.fas fa-cloud-sun fa-5x{
	height:50px;
	
}

.cardrow{
	display: inline;
	float: right;
}

	
	