@charset "UTF-8";

body, div, h1, h2, textarea, input, button, a, p {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR';
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR';
}

.sidebar { /* 메인메뉴 */
	position: fixed;
	left: 0;
	background-color: #fef5cc;
	width: 220px;
	height: 100%;
	float: left;
	z-index: 10;
}

#brandlogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sidebar div .a {
	width: 170px;
	padding-left: 20px;
	margin-left: 15px;
	display: inline-block;
	padding-top: 17px;
	padding-bottom: 17px;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: rgba(150, 149, 147, 1);
}

.sidebar a:hover {
	color: #151d66;
	background-color: #FFFDEF;
	border-radius: 5px;
	margin-right: 15px;
}

.sidebar-title p { /* 메뉴 타이틀(보조메뉴 없는 경우) */
	text-align: left;
	padding-top: 20px;
	padding-bottom: 25px;
	font-size: 26px;
	font-weight: bold;
}

.s-menu { /* 보조메뉴바 */
	position: fixed;
	left: 220px;
	width: 220px;
	height: 100%;
	background-color: white;
	border-right: solid 1px rgba(224, 224, 224);
	z-index: 5;
}

.s-menu-title p { /* 보조메뉴바 타이틀 */
	text-align: center;
	padding-top: 95px;
	padding-bottom: 25px;
	font-size: 26px;
	font-weight: bold;
}

.s-list-item a { /* 보조메뉴바 리스트 */
	margin-left: 55px;
	display: inline-block;
	padding-top: 17px;
	padding-bottom: 17px;
	color: #151d66;
	text-decoration: none;
	font-size: 16px;
}

.s-list-item a:hover { /* 보조메뉴바 리스트 중 활성화된 것 */
	font-weight: 900;
	color: #151d66;
}

#newbtn {
	display: inline-block;
	width: 150px;
	height: 50px;
	background-color: white;
	border: 2.5px solid rgba(150, 149, 147, 1);
	margin-left: 40px;
	border-radius: 4px;
	font-size: 15px;
	cursor: pointer;
}

.container { /* 보조메뉴바 없을 경우 - 내용 */
	margin: 0 65px;
	position: absolute;
	left: 220px;
	top: 75px;
}

.s-container { /* 보조메뉴바 있을 경우 - 내용 */
	margin: 0 65px;
	position: absolute;
	left: 440px;
	top: 75px;
	width: 1000px;
}

#c-title {
	margin-top: 20px;
	margin-bottom: 5px;
	font-family: Noto Sans KR;
	font-weight: 900;
}

/*헤더부분*/
.nav-bar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 75px;
	border-bottom: solid 1px rgba(224, 224, 224);
	background-color: white;
	float: right;
	color: rgb(51, 51, 51);
	z-index: 2;
}

.nav-bar-right {
	margin-right: 35px;
	display: inline-block;
	float: right;
}

.nav-bar-right span {
	margin-left: 10px;
	padding-top: 15px;
	float: left;
}

.nav-bar-right button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

#btn-info img {
	margin-left: 10px;
	margin-top: 15px;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	image-rendering: -webkit-optimize-contrast;
	object-fit: cover;
	float: left;
}

.user { /* 사용자 */
	margin-left: 10px;
	line-height: 48px;
	padding-top: 15px;
	height: 45px;
	font-size: 18px;
	float: left;
	font-weight: bold;
}



#footer {
	width: 100%;
	height: auto;
	position: relative;
	transform:translaty(-100%);
}


#calendar a.fc-col-header-cell-cushion {
	color: black;
}

#btn-alarm {
	position:relative;
}

#btn-alarm::after {
	content : attr(data-content);
	position: absolute;
	top: 15px;
	left: 25px;
	height: 20px;
	width: 20px;
	background-color: red;
	border-radius: 50%;
	color: white;
}

#alarms {
	
	position: absolute;
	top: 80px;
	left: -300px;
}
