<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tetris.mapper.CalendarMapper">

<select id="getList" resultType="org.tetris.domain.calendar.CalendarVO">
	select cl_num, cl_name, cl_startdate, cl_enddate, cl_starttime, cl_endtime, cl_color, cl_contents, c.e_id
	from calendar c
	inner join employee e
	on c.e_id = e.e_id
	
</select>

<select id="read" resultType="org.tetris.domain.calendar.CalendarVO">
	select * from calendar where cl_num = #{cl_num}
</select>

<insert id="insertSelectKey">
	<selectKey keyProperty="cl_num" order="BEFORE" resultType="int">
		select clnum_seq.nextval from dual
	</selectKey>
	insert into calendar (cl_num, cl_name, cl_startdate, cl_enddate, cl_starttime, cl_endtime, cl_color, cl_contents, e_id)
	values (#{cl_num},#{cl_name},#{cl_startdate},#{cl_enddate},#{cl_starttime},#{cl_endtime},#{cl_color},#{cl_contents},#{e_id})
</insert>

<delete id="delete">
	delete from calendar where cl_num = #{cl_num}
</delete>

<update id="update">
	update calendar
	set cl_name=#{cl_name}, 
	 cl_startdate=#{cl_startdate}, 
	 cl_enddate=#{cl_enddate},  
	 cl_starttime=#{cl_starttime},  
	 cl_endtime=#{cl_endtime},  
	 cl_contents=#{cl_contents}, 
	 cl_color=#{cl_color}
	 where cl_num=#{cl_num}
</update>
</mapper>