<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tetris.mapper.ChatMapper">
<resultMap type="org.tetris.domain.chat.ChatRoomVO" id="chatRoomMap">
	<result property="cr_id" column="cr_id"/>
	<result property="cr_title" column="cr_title"/>
</resultMap>
<resultMap type="org.tetris.domain.chat.ChatParticipantVO" id="chatPartMap">
	<result property="cp_num" column="cp_num"/>
	<result property="cr_id" column="cr_id"/>
	<result property="e_id" column="e_id"/>
	<result property="cp_unread" column="cp_unread"/>
	<result property="cp_isbookmark" column="cp_isbookmark"/>
	<!-- <collection property="chatRoomVO" resultMap="chatRoomMap"/> -->
</resultMap>

<resultMap type="org.tetris.domain.UserVO" id="UserMap">
	<result property="userId" column="e_id"/>
	<result property="userName" column="e_name"/>
</resultMap>
<resultMap type="org.tetris.domain.chat.ChatContentsVO" id="chatContentsMap">
	<result property="cc_num" column="cc_num"/>
	<result property="e_id" column="e_id"/>
	<result property="cr_id" column="cr_id"/>
	<result property="cc_to" column="cc_to"/>
	<result property="cc_uuid" column="cc_uuid"/>
	<result property="cc_contents" column="cc_contents"/>
	<result property="cc_size" column="cc_size"/>
	<result property="cc_regdate" column="cc_regdate"/>
	<result property="cc_status" column="cc_status"/>
	<result property="cc_image" column="cc_image"/>
	<result property="cc_path" column="cc_path"/>
	<result property="cc_file" column="cc_file"/>
	<collection property="userVO" resultMap="UserMap"/>
</resultMap>
	
	<select id="getListEmp" resultType="org.tetris.domain.EmployeeVO">
		select * from employee
	</select>
	
	<select id="getListDept" resultType="org.tetris.domain.DepartmentVO">
		select * from department
	</select>
	
	<select id="getEmp" resultType="org.tetris.domain.EmployeeVO">
		select * from employee where e_id = #{e_id}
	</select>
	
	<insert id="registerCRoom" parameterType="org.tetris.domain.chat.ChatParticipantVO">
		insert into chatroom (cr_id, cr_title) 
			values(#{cr_id}, #{cr_title})
	</insert>
	
	<insert id="registerCPart" parameterType="org.tetris.domain.chat.ChatParticipantVO">
		insert into chatparticipant (cp_num, cr_id, e_id, cp_unread, cp_isbookmark)
			values(cp_num_seq.nextval, #{cr_id}, #{e_id}, 'false', 'false')
	</insert>
	
	<select id="getListCRoom" parameterType="String" resultMap="chatRoomMap">
		select cr.cr_id, cr.cr_title, cp.cp_num, cp.e_id, cp.cp_unread, cp.cp_isbookmark
    		from chatparticipant cp right outer join chatroom cr
    		on cp.cr_id = cr.cr_id
    		where cp.e_id = #{e_id}
	</select>
	
	<select id="getCRoom" parameterType="String" resultMap="chatRoomMap">
		select cr.cr_id, cr.cr_title, cp.cp_num, cp.e_id, cp.cp_unread, cp.cp_isbookmark
    		from chatparticipant cp right outer join chatroom cr
    		on cp.cr_id = cr.cr_id
    		where cr.cr_id = #{cr_id}
	</select>
	
	<insert id="registerMsg" parameterType="org.tetris.domain.chat.ChatContentsVO">
		insert into chatcontents (cc_num, e_id, cr_id, cc_to, cc_uuid, cc_contents, cc_size, cc_regdate, cc_status, cc_image, cc_path, cc_file)
			values(cc_num_seq.nextval, #{e_id}, #{cr_id}, 'null', 'null', #{cc_contents}, 0, to_char(sysdate,'yyyy/mm/dd hh:mi:ss'), 'null', 'false', 'null', 'false')
	</insert>
	
	<select id="getListMsg" parameterType="String" resultType="org.tetris.domain.chat.ChatMsgVO">
		select cm_num, e_id, cr_id, cm_contents, cm_regdate, cm_status from chatmsg where cr_id = #{cr_id}
    		union all
        		select cf_num cm_num, e_id, cr_id, cf_name as cm_contents, cf_regdate as cm_regdate, cf_status as cm_status from chatfile where cr_id = #{cr_id}
        			order by cm_regdate
	</select>
	
	<select id="getListCC" parameterType="String" resultMap="chatContentsMap">
		select cc.cc_num, cc.e_id, e.e_name, cc.cr_id, cc.cc_to, cc.cc_uuid, cc.cc_contents, cc.cc_size, cc.cc_regdate, cc.cc_status, cc.cc_image, cc.cc_path, cc.cc_file
    		from chatcontents cc left outer join employee e
		    on cc.e_id = e.e_id
    		where cc.cr_id = #{cr_id}
    		order by cc.cc_regdate
	</select>
	
	<insert id="registerCFile" parameterType="org.tetris.domain.chat.ChatContentsVO">
		insert into chatcontents (cc_num, e_id, cr_id, cc_to, cc_uuid, cc_contents, cc_size, cc_regdate, cc_status, cc_image, cc_path, cc_file)
				values(cc_num_seq.nextval, #{e_id}, #{cr_id}, 'null', #{cc_uuid}, #{cc_contents}, #{cc_size}, to_char(sysdate,'yyyy/mm/dd hh:mi:ss'), 'null', #{cc_image}, #{cc_path}, 'true')
	</insert>

</mapper>
