<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tetris.mapper.NotificationMapper">

	<insert id="insertNotification">
		insert into alarm values (al_num_seq.nextval, #{e_id}, #{al_type}, #{al_contents}, 'N')
	</insert>
	
	<select id="countNotification" resultType="int">
		select count(*) from alarm where e_id = #{e_id} and al_status = 'N'
	</select>
	
	
	<select id="getNotificationList" resultType="org.tetris.domain.notification.AlarmVO">
		<![CDATA[
		select * from (select * from alarm where e_id = #{e_id} and al_status = 'N' order by al_num desc) 
			where rownum < 6 
		]]>
	</select>
	
	<select id="getTotalNotificationList" resultType="org.tetris.domain.notification.AlarmVO">

		 <![CDATA[ 
		 
		   select al_num, al_type,  al_contents, al_status from
    		(select /*+INDEX_DESC(alarm pk_al_num) */ rownum rn, al_num, al_type,  al_contents, al_status
        		from alarm 
    		where e_id = #{e_id}
        		and rownum <= #{cri.pageNum} * #{cri.amount}
    		) where rn > (#{cri.pageNum}-1) * #{cri.amount}

		  ]]> 
		  
	</select>
		
	<select id="countTotalNotification" resultType="int">
		select count(*) from alarm where e_id = #{e_id}
	</select>
	
	<update id="updateNotiStatus">
		update alarm set al_status = 'Y' where al_num = #{al_num}
	</update>
	
	<update id="updateTotalNotiStatus">
		update alarm set al_status = 'Y' where e_id = #{e_id}
	</update>

</mapper>
