<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tetris.mapper.ProjectBoardMapper">

	<select id="readProjectInfo" parameterType="String" resultType="org.tetris.domain.user.UserVO">
		select ev.e_id, ev.e_name, ev.e_position, ev.d_name
			from projectlist pl join v_employee ev
			on pl.e_id = ev.e_id
		where pl_num = #{pj_num}
	</select>
	
	<select id="readProject" resultType="org.tetris.domain.project.ProjectVO">
		select * from project where pj_num = #{pj_num}
	</select>
	
	<select id="getListProjectBoard" parameterType="hashmap" resultType="org.tetris.domain.project.ProjectBoardVO">
		select * from pboard
		<where>
			<if test='searchkey != null and searchkey neq ""'>
				( pb_contents like '%'||#{searchkey}||'%' )
			</if>
			<trim prefix="and">
				pj_num = #{pj_num} 
			</trim>
		</where>
		order by pb_num desc
	</select>
	
	
	<insert id="insertProjectBoard" parameterType="org.tetris.domain.project.ProjectBoardVO">
	
		<selectKey keyProperty="pb_num" order="BEFORE" resultType="long">
			select pb_num_seq.nextval from dual
		</selectKey>
		insert into pboard (pb_num, pb_writer, pb_contents, pb_regdate, pb_moddate, pb_status, pj_num) values (#{pb_num}, #{pb_writer}, #{pb_contents}, sysdate, sysdate, #{pb_status}, #{pj_num})
	</insert>
	
	<insert id="insertReply" parameterType="org.tetris.domain.project.BoardReplyVO">
		insert into preply (pr_num, pr_writer, pr_contents, pr_regdate, pr_moddate, pb_num) values (pr_num_seq.nextval, #{pr_writer}, #{pr_contents}, sysdate, sysdate, #{pb_num})
	</insert>

	
	<select id="getListReply" parameterType="long" resultType="org.tetris.domain.project.BoardReplyVO">
		select pr.pr_num, pr.pr_writer, pr.pr_contents, pr.pr_regdate, pr.pr_moddate, pr.pb_num, pb.pj_num
    		from preply pr join pboard pb on pr.pb_num = pb.pb_num
    		<where>
    			<if test="pb_num != 0">
    				pr.pb_num = #{pb_num}
    			</if>
    			<trim prefix="and">
    				pj_num = #{pj_num}
    			</trim>
    		</where>	
			order by pr_num desc
	</select>
	
	<delete id="deleteReply" parameterType="long">
		delete from preply where pr_num = #{pr_num}
	</delete>

</mapper>
