<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tetris.mapper.ProjectMapper">

	<select id="getListProject" resultType="org.tetris.domain.project.ProjectVO">
		select distinct pj_num, pj_name, pj_type, pj_startdate, pj_enddate, pj_manager, p.pl_num, pj_contents 
			from project p join projectlist pl on p.pl_num like pl.pl_num
		where (pj_manager = #{e_id} or pl.e_id = #{e_id})
	</select>

	<insert id="insertProject" parameterType="org.tetris.domain.project.ProjectVO">
		insert into project (pj_num, pj_name, pj_type, pj_startdate, pj_enddate, pj_manager, pj_contents, pl_num) 
			values (pj_num_seq.nextval, #{pj_name}, #{pj_type}, TO_DATE(#{pj_startdate}, 'YYYY-MM-DD'), TO_DATE(#{pj_enddate}, 'YYYY-MM-DD'), #{pj_manager}, #{pj_contents}, pj_num_seq.nextval)
	</insert>
	
	
	<select id="getListEmployees" resultType="org.tetris.domain.user.UserVO">
		select * from employee order by d_num
	</select>
	
	
	<select id="getListDept" resultType="org.tetris.domain.user.DepartmentVO">
		select * from department order by d_num
	</select>
	
	<insert id="insertProjectMember" parameterType="String">
		insert into projectlist values (#{pl_num}, #{e_id})
	</insert>
	
	<select id="readProjectNum" parameterType="org.tetris.domain.project.ProjectVO" resultType="long">
		select pj_num from (
			select * from project where pj_num = pl_num and pj_manager = #{pj_manager} order by pj_num desc)
		where rownum = 1
	</select>
	
	<update id="insertProjectList" parameterType="org.tetris.domain.project.ProjectVO">
		update projectlist set pl_num = #{pj_num} where pl_num = #{pj_manager}
	</update>
	
	<update id="updateProject">
		update project set 
			pj_enddate = TO_DATE(#{pj_enddate}, 'YYYY-MM-DD'), 
			pj_contents = #{pj_contents}
		where pj_num = #{pj_num}
	</update>
	
	<delete id="deleteProject">
		delete from project where pj_num = #{pj_num}
	</delete>
	
</mapper>
