<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tetris.mapper.ProjectCalendarMapper">

	<select id="readCalendar" parameterType="Long" resultType="org.tetris.domain.project.ProjectCalVO">
		select * from projectcal where pj_num = #{pj_num}
	</select>
	
	<insert id="insertCalendar" parameterType="org.tetris.domain.project.ProjectCalVO">
		insert into projectcal (pc_num, pc_name, pc_startdate, pc_starttime, pc_enddate, pc_endtime, pj_num)
    		values (pc_num_seq.nextval, #{pc_name}, #{pc_startdate}, #{pc_starttime}, #{pc_enddate}, #{pc_endtime}, #{pj_num})
	</insert>
	

</mapper>
