<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tetris.mapper.RoomBookMapper">

	<!-- 회의실 예약 목록 가져오기 -->
	<select id="getListResRoom"
		resultType="org.tetris.domain.reservation.RoomBookVO">
		select rb_num, mr_num, e_id, rb_startday, rb_starttime,
		rb_endday, rb_endtime
		from roombook
	</select>

	<!-- 회의실 예약 하기 -->
	<insert id="insertResRoom"
		parameterType="org.tetris.domain.reservation.RoomBookVO">
		insert into roombook
		(rb_num,mr_num,rb_startday,rb_starttime,rb_endday,rb_endtime,e_id)
		values
		(rb_num_seq.nextval,#{mr_num},#{rb_startday},#{rb_starttime},#{rb_endday},#{rb_endtime},#{e_id})
	</insert>

	<!-- 내 예약목록 가져오기 -->
	<select id="readResRoom"
		resultType="org.tetris.domain.reservation.RoomBookVO">
		select * from roombook where rb_num =#{rb_num} and e_id #{e_id}

	</select>

	<!-- 회의실별 예약목록 가져오기 -->

	<select id="setResRoom" 
		resultType="org.tetris.domain.reservation.RoomBookVO">
		select * from roombook where mr_num =#{mr_num}
	</select>
	
	
	<select id="checkDate" resultType="int" parameterType="org.tetris.domain.reservation.RoomBookVO">
	select count(*) from
	 <![CDATA[
	  (
	select * from roombook
	WHERE rb_startday = #{rb_startday}
	AND rb_startday||' '|| rb_starttime < #{rb_startday}||' '|| #{rb_endtime}
	AND rb_endday||' '|| rb_endtime > #{rb_endday}||' '|| #{rb_starttime}
	AND mr_num = #{mr_num}
	  )
     ]]>	
	</select>
	
	




</mapper>
