<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tetris.mapper.UserMapper">
	<resultMap type="org.tetris.domain.user.UserVO" id="userMap">
	<id property="e_id" column="e_id"/>
		<result property="e_id" column="e_id"/>
		<result property="e_name" column="e_name"/>
		<result property="e_pw" column="e_pw"/>
		<result property="e_pnum" column="e_pnum"/>
		<result property="e_hireddate" column="e_hireddate"/>
		<result property="e_resigndate" column="e_resigndate"/>
		<result property="e_totalvac" column="e_totalvac"/>
		<result property="e_usevac" column="e_usevac"/>
		<result property="e_birth" column="e_birth"/>
		<result property="e_num" column="e_num"/>
		<result property="e_picfile" column="e_picfile"/>
		<result property="e_position" column="e_position"/>
		<result property="d_num" column="d_num"/>
		<result property= "enabled" column="enabled"/>	
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap type="org.tetris.domain.user.AuthVO" id="authMap">
	<result property="e_id" column="e_id"/>
	<result property="a_auth" column="a_auth"/>
	
	</resultMap>
	
	<select id="read" resultMap="userMap">
	SELECT
		e.e_id, e_name, e_pw, e_pnum, e_hireddate, e_resigndate,
	e_totalvac,e_usevac,e_birth,e_num,e_picfile, e_position,e.d_num,e.enabled, auth.a_auth FROM
	employee e LEFT OUTER JOIN authmapping auth on e.e_id = auth.e_id
	WHERE e.e_id = #{e_id}
	</select>
	
	<insert id="insertAuthmapping">
	INSERT INTO authmapping
	(
	e_id,
	a_auth)
	VALUES(
	#{e_id},
	#{a_auth}
	)
	</insert>



	<insert id="insertUser">
	 INSERT INTO employee(
		e_id, 
		e_name,
		e_pw,
		e_pnum,
		e_hireddate,
		e_resigndate,
		e_totalvac,
		e_usevac,
		e_birth,
		e_num,
		e_picfile, 
		e_position,
		d_num,
		enabled
	)
	VALUES
	(
	#{e_id},
	#{e_name},
	#{e_pw},
	#{e_pnum},
	#{e_hireddate},
	#{e_resigndate, jdbcType=DATE},
	#{e_totalvac},
	#{e_usevac},
	#{e_birth},
	e_num.nextval,
	#{e_picfile, jdbcType=VARCHAR},
	#{e_position},
	#{d_num},
	'1'	
	
		
	)
	

	
	<!--  INSERT ALL 
	 INTO 
	 employee
	VALUES
	(
	#{userId},
	#{userName},
	#{userPass},
	#{userPhoneNumber},
	#{userHireddate},
	#{userResigndate,jdbcType=DATE},
	#{userTotalvaction},
	#{userUsevacation},
	#{userBirth},
	#{userNumber},
	#{userPicture, jdbcType=VARCHAR},
	#{userPosition},
	#{departmentNumber},
	'1'	
	
	)
 	INTO authmapping VALUES(
 	#{userId},
 	'ROLE_USER'
 	) -->
	</insert>
	<select id="getList" resultType="org.tetris.domain.user.UserVO"  resultMap="userMap">
	
	SELECT 

	e_id,
	e_name ,
	e_hireddate ,
	e_num 
	FROM EMPLOYEE
	where e_num > 1
	order by e_num
	</select>
	
	<!-- <select id="detailUser" parameterType="int" resultType="org.tetris.domain.UserVO">
	SELECT
	
	e_id AS userId,
	e_name AS userName,
	e_pnum AS userPhoneNumber,
	e_hireddate AS userHireddate,
	e_totalvac AS userTotalvaction,
	e_useVac AS userUsevaction,
	e_birth AS userBirth,
	e_num AS userNumber,
	e_position AS userPosition,
	d_num AS departmentNumber
	FROM employee where e_num = #{userNumber} AND e_num>0
	</select> -->
	<select id="detailUser" resultType="org.tetris.domain.user.UserVO">
	SELECT
	
	e_id ,
	e_name ,
	e_pw ,
	e_pnum ,
	e_hireddate,
	e_totalvac ,
	e_useVac,
	e_birth ,
	e_num ,
	e_position ,
	d_num
	FROM employee where e_id = #{e_id} 
	</select>
	 <select id="detailAuth" resultType="org.tetris.domain.user.AuthVO">
	SELECT
	a.e_id, 
	a_auth 
	FROM
	authmapping a LEFT OUTER JOIN employee e ON a.e_id = e.e_id WHERE e.e_id = #{e_id}
	
	
	
	
	</select> 
	
	<select id="idCheck" resultType="int">
	SELECT COUNT(*) FROM employee WHERE e_id = #{e_id}
	</select>
	
	<update id="updateUser">
	UPDATE employee SET 
	e_id = #{e_id},
	e_name = #{e_name},
	e_pw = #{e_pw},
	e_pnum = #{e_pnum},
	e_birth = #{e_birth},
	e_position= #{e_position},
	d_num = #{d_num}	
	where e_id = #{e_id}
	</update>
</mapper>